@font-face {
  font-family: 'Minecraftia';
  src: url('/Aeg34thbbegege2rfergsth7i565463t6/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Minecraftia", monospace;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}
.header {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img {
    width: 40vw;
    height: auto;
}
#headerbg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.content {
    background-color: #201f20;
    width: 50vw;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 15px;
    font-size: 1.1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 8px 20px rgba(0, 0, 0, 0.15);

}
#code {
    margin: 20px 0px;
    border-radius: 10px;
}
